function Main.main 1
call SnakeGame.new 0
pop local 0
push local 0
call SnakeGame.runSnake 1
pop temp 0
push local 0
call Main.endScreen 1
pop temp 0
push local 0
call SnakeGame.dispose 1
pop temp 0
push constant 0
return
function Main.endScreen 0
call Screen.clearScreen 0
pop temp 0
push constant 8
push constant 30
call Output.moveCursor 2
pop temp 0
push constant 10
call String.new 1
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 10
push constant 30
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call SnakeGame.getScore 1
call Output.printInt 1
pop temp 0
push constant 0
return
